# =======================
# Python
# =======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/

# =======================
# Virtual environment
# =======================
venv/
env/

# =======================
# Environment files
# =======================
.env
dev.env

# =======================
# Databases (local only)
# =======================
*.db
*.sqlite3

# =======================
# Logs & temp files
# =======================
*.log
tmp/
*.tmp

# =======================
# IDE / Editor settings
# =======================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# =======================
# OS-specific files
# =======================
.DS_Store
Thumbs.db
